S R PR:1 ID:D RT:$$Node-ID@$$00 PO:RP
S P PO:RP SUB:NO NID:$$Node-ID@$$ PI:$$Name@PAD_Dingens$$:_
S A ID:ZSE AD:$$ZSE-Adresse@$$
S P PO:00 TYPE:L TE:YES SP:EXT LC:10 
C P PO:01
S P PO:01 04:010
S P PO:01 SUB:01 SP:9600 LE:8 PT:EVEN ST:1 AC:MODEM AD:ZSE PI:ABG